*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

/* General */
body, html {
  height: 100%;
  background-color: pink;
  color: red;
}

:root {
  --default-size: 17px;
  --title-size: 65px;
  --title-size-plus: 70px;
  --padding: 15px;
}

body * {
  box-sizing: border-box;
}

@font-face {
  font-family: Hershey;
  src: url(fonts/Hershey-Noailles-Times-Triplex-Bold.otf);
}

@font-face {
  font-family: cmuBold;
  src: url(fonts/cmunobx.ttf);
}

@font-face {
  font-family: Authentic;
  src: url(fonts/AUTHENTICSans-Condensed-150.otf);
}

@font-face {
  font-family: Louise;
  src: url(fonts/Louise-Regular.otf);
}

@font-face {
  font-family: Spotty;
  src: url(fonts/K22SpottyFace.woff2);
}

/* Grid */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50vh 50vh;
}

.gridItem {
  padding: var(--padding);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upLeft {
  font-family: Hershey;
  border-right: solid 2px red;
  border-bottom: solid 2px red;
  grid-column: 1;
  grid-row: 1;
}

#upRight {
  font-family: Louise;
  letter-spacing: normal;
  border-bottom: solid 2px red;
  grid-column: 2;
  grid-row: 1;
}

#downLeft {
  font-family: Spotty;
  border-right: solid 2px red;
  grid-column: 1;
  grid-row: 2;
}

#downRight {
  font-family: Authentic;
  grid-column: 2;
  grid-row: 2;
}

/* Element-specific styling*/
h1 {
  font-size: var(--title-size);
  line-height: 100%;
  text-align: center;
  position: absolute;
}

p {
  font-family: cmuBold;
  letter-spacing: normal;
  text-align: center;
  line-height: 100%;
  font-size: var(--default-size);
  overflow: hidden;
  position: absolute;
  padding: var(--padding);
  bottom: 0;
}

path {
  fill: transparent;
}

.line1 {
  position: absolute;
  top: 10%;
}

.line2 {
  position: absolute;
  top: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

text {
  font-size: var(--title-size);
  line-height: 100%;
  fill: red;
}