*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

/* General */
body, html {
  height: 100%;
  background-color: var(--pink);
  color: var(--red);
}

:root {
  --default-size: 17px;
  --title-size: 70px;
  --padding: 15px;
  --white: #f2f2f2;
  --red: red;
  --pink: #FFC0CB;
}

body * {
  box-sizing: border-box;
}

@font-face {
  font-family: Hershey;
  src: url(fonts/Hershey-Noailles-Times-Triplex-Bold.otf);
}

@font-face {
  font-family: cmuBold;
  src: url(fonts/cmunobx.ttf);
}

@font-face {
  font-family: Authentic;
  src: url(fonts/AUTHENTICSans-Condensed-150.otf);
}

@font-face {
  font-family: Louise;
  src: url(fonts/Louise-Regular.otf);
}

@font-face {
  font-family: Spotty;
  src: url(fonts/K22SpottyFace.woff2);
}

/* Grid */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50vh 50vh;
}

.gridItem {
  padding: var(--padding);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upLeft {
  font-family: Hershey;
  border-right: solid 2px var(--red);
  border-bottom: solid 2px var(--red);
  grid-column: 1;
  grid-row: 1;
  height: 100%;
}

#upRight {
  font-family: Louise;
  letter-spacing: normal;
  border-bottom: solid 2px var(--red);
  grid-column: 2;
  grid-row: 1;
  height: 100%;
}

#downLeft {
  font-family: Spotty;
  border-right: solid 2px var(--red);
  grid-column: 1;
  grid-row: 2;
  height: 100%;
}

#downRight {
  font-family: Authentic;
  grid-column: 2;
  grid-row: 2;
}

/* Element-specific styling*/
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1 {
  font-size: var(--title-size);
  line-height: 100%;
  text-align: center;
  position: absolute;
}

p {
  font-family: cmuBold;
  letter-spacing: normal;
  text-align: center;
  line-height: 100%;
  font-size: var(--default-size);
  overflow: hidden;
  position: absolute;
  padding: var(--padding);
  bottom: 0;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -50%);
}

text {
  position: relative;
}

.heart {
  fill: var(--white);
  stroke: var(--red);
  stroke-width: 4px;
}

#upLeft:hover, #upRight:hover, #downLeft:hover, #downRight:hover {
  background-color: var(--white);
}