*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

/* General */
body, html {
  height: 100%;
  background-color: var(--white);
  color: var(--red);
  font-family: Hershey;
  padding: var(--padding);
}

:root {
  --default-size: 18px;
  --title-size: 70px;
  --title-size-curved: 38px;
  --padding: 35px;
  --white: #f2f2f2;
  --red: red;
  --pink: #FFC0CB;
}

body * {
  box-sizing: border-box;
 
}

@font-face {
  font-family: Hershey;
  src: url(../fonts/Hershey-Noailles-Times-Triplex-Bold.otf);
}

@font-face {
  font-family: HersheyReg;
  src: url(../fonts/Hershey-Noailles-Times-Triplex-Regular.otf);
}

@font-face {
  font-family: cmuBold;
  src: url(../fonts/cmunobx.ttf);
}

@font-face {
  font-family: Authentic;
  src: url(../fonts/AUTHENTICSans-Condensed-150.otf);
}

@font-face {
  font-family: Louise;
  src: url(../fonts/Louise-Regular.otf);
}

@font-face {
  font-family: Spotty;
  src: url(../fonts/K22SpottyFace.woff2);
}

/* Element-specific styling*/
a {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
}

.exit {
  position: absolute;
  right: 45px;
  z-index: 100;
}

/* Page 4 */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80vw;
  position: relative;
  margin: auto;
justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--red);
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  transform: rotate(180deg);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: pink;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}